<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                </div>
                <div class="col-md-1 col-sm-12">
                    <a href="#">
                        <img src="img/logos/Capture.PNG" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-1 col-sm-12">
                    <a href="#">
                        <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="muthuadithya" data-description="Be a sponsor yourself!" data-message="Thank you for visiting. Support us by buying a coffee!" data-color="#FF813F" data-position="" data-x_margin="18" data-y_margin="18"></script>
                    </a>
                </div>            
            </div>
        </div>
    </aside>
