<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                </div>
                <div class="col-md-1 col-sm-12">
                    <a href="#">
                        <img src="img/logos/Capture.PNG" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-1 col-sm-12">
                    <a href="#">
                        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="muthuadithya" data-color="#FF5F5F" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000" data-font-color="#fff" data-coffee-color="#fd0" ></script>
                    </a>
                </div>            
            </div>
        </div>
    </aside>
